{% load static from staticfiles %}
{% load best_gamers from python_game_extras  %}
<!DOCTYPE HTML>
<html>

<head>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" title="style" />
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <title>{% block title %}Python game{% endblock %}</title>
    {% block style %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>

<body>
    {% block cms_toolbar %}
    {% endblock %}
    <div id="main">
        <div id="header">
          <div id="logo">
            <div id="logo_text">
              <!-- class="logo_colour", allows you to change the colour of the text -->
                  {% block header %}
                      <h1><a href="/">Python<span class="logo_colour">game</span></a></h1>
                      <h2>Python Game website.</h2>
                  {% endblock %}
            </div>
          </div>
          <div id="menubar">
            {% block menubar %}
                {% include "components/menubar.html" %}
            {% endblock %}
          </div>
        </div>
        <div id="site_content">
            {% block sidebar %}
                <div class="sidebar">
                    {% if not user.is_authenticated %}{% include "registration/login_form_sidebar.html" %}{%endif %}
                    {% best_gamers %}
                </div>
            {% endblock %}
          <div class="content" id="top">
              {% block content-top %}
              {% endblock %}
          </div>
          <div class="content" id="left">
              {% block content-left %}
              {% endblock %}
          </div>
          <div class="content" id="right">
              {% block content-right %}
              {% endblock %}
          </div>
          <div class="content" id="bottom">
              {% block content-bottom %}
              {% endblock %}
          </div>
        </div>
        <div id="content_footer"></div>
        <div id="footer">
          Copyright &copy; {{ request.get_host }} | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="/">design PythonGame@Kobzar</a>
        </div>
    </div>
</body>
</html>
