<ul id="menu">
    <li class="{% if request.resolver_match.url_name == "news_page" %}selected{% endif %}"><a href="{% url 'news_page' %}">News</a></li>
    <li class="{% if request.resolver_match.url_name == "statistics_page" %}selected{% endif %}"><a href="{% url 'statistics_page' %}">Statistic</a></li>
    {% if user.is_authenticated %}
        <li class="{% if request.resolver_match.url_name == "profile_page" %}selected{% endif %}"><a href="{% url 'profile_page' %}">Profile</a></li>
        <li class="{% if request.resolver_match.url_name == "logout" %}selected{% endif %}"><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li class="{% if request.resolver_match.url_name == "login" %}selected{% endif %}"><a href="{% url 'login' %}">Login</a></li>
        <li class="{% if request.resolver_match.url_name == "registration_page" %}selected{% endif %}"><a href="{% url 'registration_page' %}">Registration</a></li>
    {% endif %}
</ul>