{% extends "registration/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="container">
	<div class="reset-password">
        <div class="reset-password-complete">

            <div class="row">
                 <h2>{% trans 'Thanks!' %} <img src="{% static 'img/icon.png' %}"/></h2>
            </div>


		    <label>{% trans "Your password has been reset. You may go ahead and log in now." %}</label>
        </div>
	</div>	
</div>
{% endblock %}


{% block content-related %}

{% endblock %}
