{% extends 'consumer/auth_forms_base.html' %}
{% load compressed %}

{% block extra_classes %}login-page b2c-login reset-password-form{% endblock %}

{% block content%}

    <div class="row-fluid">
        <div class="span12">
            <div class="form-title">
                <h1>Reset your Password</h1>
            </div>

            {% if form.non_field_errors %}
                <div class="row-fluid error-text non-field-errors">
                    <div class="span12 text-center">
                        {{ form.non_field_errors|join:", " }}
                    </div>
                </div>
            {% endif %}

            <form autocomplete="off" class="main-box" method="post" action="{% if next %}?next={{ next }}{% endif %}">
                {% csrf_token %}

                <div class="fieldset">

                    <div class="styled-input {% if form.email.errors %}error{% endif %}">
                        <label for="id_email">Enter your email address</label>
                        <input id="id_email" type="text" name="email" placeholder="Email Address">
                        <div class="asterisk">&nbsp;</div>
                        {% if form.email.errors %}
                            <div class="field-error">{{ form.email.errors|join:", " }}</div>
                        {% endif %}
                    </div>

                    <button class="styled-btn transition4">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock%}

{% block scripts %}
    {% compressed_js 'lib' %}
    {% compressed_js 'b2b' %}
    {% compressed_js 'reset-form' %}
{% endblock scripts %}

{% block forms_footer %}
    <p>Don't have an account? <a href="{% url 'customer_index' %}">Sign Up</a></p>
{% endblock %}
{% block olark %}{% endblock %}
