{% extends 'consumer/auth_forms_base.html' %}
{% load compressed %}

{% block extra_classes %}login-page b2c-login reset-password-confirm{% endblock %}

{% block content%}

    <div class="row-fluid">
        <div class="span12">
            {% if validlink %}
            <div class="form-title">
                <h1>Reset Password</h1>
{#                <label>Please enter your new password twice so we can verify you typed it in correctly.</label>#}
            </div>

            {% if form.non_field_errors %}
                <div class="row-fluid error-text non-field-errors">
                    <div class="span12 text-center">
                        {{ form.non_field_errors|join:", " }}
                    </div>
                </div>
            {% endif %}

            <form autocomplete="off" class="main-box" method="post" action="{% if next %}?next={{ next }}{% endif %}">
                {% csrf_token %}

                <div class="fieldset">

                    <div class="styled-input {% if form.new_password1.errors %}error{% endif %}">
                        <label for="id_new_password1">New password</label>
                        {{ form.new_password1 }}
                        <div class="asterisk">&nbsp;</div>
                        {% if form.new_password1.errors %}
                            <div class="field-error">{{ form.new_password1.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                    <div class="styled-input {% if form.new_password2.errors %}error{% endif %}">
                        <label for="id_new_password2">Password again</label>
                        {{ form.new_password2 }}
                        <div class="asterisk">&nbsp;</div>
                        {% if form.new_password2.errors %}
                            <div class="field-error">{{ form.new_password2.errors|join:", " }}</div>
                        {% endif %}
                    </div>

                    <button class="styled-btn transition4">SAVE</button>
                </div>
            </form>
        {% else %}
                <div class="form-title">
                    <h1>Password reset unsuccessful</h1>
                    <label>The password reset link was invalid, possibly because it has already been used.</label>
                    <label> Please request a new password reset.</label>
                </div>
        {% endif %}
        </div>
    </div>

{% endblock%}

{% block scripts %}
    {% compressed_js 'lib' %}
    {% compressed_js 'reset-password-form' %}
{% endblock scripts %}

{% block forms_footer %}
{#    <p>Don't have an account? <a href="{% url 'customer_index' %}">Sign Up</a></p>#}
{% endblock %}

{% block olark %}{% endblock %}
