{% extends 'business/auth_forms_base.html' %}
{% load static %}
{% load compressed %}
{% block scripts %}
    {% compressed_js 'lib' %}
    {% compressed_js 'registration' %}
{% endblock %}


{% block styles %}
    {% compressed_css 'lib' %}
    {% compressed_css 'b2b-forms' %}
    {% compressed_css 'consumer' %}
{% endblock %}

{% block brand_url %}{% url 'customer_index' %}{% endblock %}

{% block title %}Next Caller | Try it Free{% endblock %}

{% block content%}
    <div class="container user-signup">

        <form method="post" action="" class="wide" id="reg-form">
            {% csrf_token %}

            <div class="row-fluid title-holder">
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span7">
                            <h1 class="ie-h1 reg-title">Let's get you started!</h1>
                        </div>
                        <div class="span5 reg-form">
                            <div style="display:none;">
                                {% include "form_field.html" with element=form.phone %}
                            </div>
                            <h1 class="phone-field ie-h1">{{ form.phone.value}}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span9">
                    <div class="form-holder">
                        <div class="row-fluid" id="alert-error-client">
                            <div class="span12">
                                <div class="alert alert-block alert-error">
                                    <p class="errors"><h4>Please correct the next error:</h4></p>
                                    <ul class="errorlist" id="twitter-error"><li>Twitter name may only contain numbers, letters and underscores.</li></ul>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        {% if form.errors or formset.errors %}
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="alert-error" class="alert alert-block alert-error">
                                        <p class="errors"><h4>Please correct the errors below:</h4> {{ form.non_field_errors }}</p>
                                        {% for e in form %}
                                            {% if e.errors %}
                                                <p>{{ e.errors }}</p>
                                            {% endif %}
                                        {% endfor %}
                                        {% for f in formset %}
                                            {% for e in f %}
                                                {% if e.errors %}
                                                    <p>{{ e.errors }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div></div></div>
                        {% endif %}


                        <div class="row-fluid">
                            <div class="span12"><label class="your-name">Your name</label></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span4">
                                {% include "form_field.html" with element=form.first_name %}
                            </div>
                            <div class="span4">
                                {% include "form_field.html" with element=form.middle_name %}
                            </div>
                            <div class="span4">
                                {% include "form_field.html" with element=form.last_name %}
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span12"><label class="preferd-language">Preferred Language</label></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 reg-form">
                                {% include "form_field.html" with element=form.language %}
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span12"><label class="shipping-address">Primary Address</label></div>
                        </div>
                        {{ formset.management_form }}

                        <input type="hidden" id="hidden-remove" name="hidden-remove" value="true">

                        {% for f in formset %}
                            {% if not forloop.first %}
                                <div class="accord" id="accord-reg">
                                <div class="accord-group">
                                <div class="accord-heading">
                                    <a class="collapsed">
                                        <div class="row-fluid">
                                            <div class="span12 add-shipping-address" id="remove">- Remove a secondary address</div></div>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="accord-body in collapsar">
                                <div class="accord-inner">
                                <div id="empty_form">
                            {% endif%}

                        {% include "address_form.html" with f=f prefix=forloop.counter %}

                        {% if not forloop.first %}
                            </div></div></div></div>
                        {% endif %}
                            {% if formset.management_form.TOTAL_FORMS.value == 1 or formset.management_form.TOTAL_FORMS.value == '1' %}
                                <div class="accord" id="accord-reg">
                                    <div class="accord-group">
                                        <div class="accord-heading">
                                            <a class="">
                                                <div class="row-fluid">
                                                    <div class="span12 add-shipping-address" id="add">+ Add a secondary address</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="accord-body collapsar">
                                            <div id="empty_form">
                                                {% include "address_form.html" with f=formset.empty_form prefix='2' %}
                                            </div>
                                        </div></div></div>
                            {% endif %}

                        {% endfor %}

                        <div class="row-fluid">
                            <div class="span6">
                                <div class="span12"><label>Email</label></div>
                                <div class="span12">
                                    {% include "form_field.html" with element=form.email %}
                                </div>
                            </div>
                            <div class="span6">
                                <div class="span12"><label>Twitter Handle</label></div>
                                <div class="span12">
                                {% include "form_field.html" with element=form.twitter_handle %}
                                </div>
                            </div>
                        </div>
{#                        <div class="row-fluid">#}
{#                            #}
{#                            #}
{#                        </div>#}
                        <div class="row-fluid">
                            <div class="span12"><label class="create-password">Create Password</label></div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                {% include "form_field.html" with element=form.password1 %}
                            </div>
                            <div class="span6">
                                {% include "form_field.html" with element=form.password2 %}
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 btn-row">
                                <button id="signup" class="btn-dark-blue transition4" type="submit"
                                        onclick="this.disabled=true; this.className='btn-dark-blue transition4 disabled'; this.form.submit();">Continue
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


        </form>

    </div>

{% endblock%}

{% block forms_footer %}
    <p>Already have an account? <a href="{% url 'consumer.login' %}">Log In</a></p>
{% endblock %}
