{% extends 'consumer/base.html' %}
{% load compressed %}
{% load static from staticfiles %}

{% block title %}Next Caller | You’re finished!{% endblock %}

{% block styles %}
    {% compressed_css 'lib' %}
    {% compressed_css 'b2b-forms' %}
{% endblock %}

{% block page_content %}
    <div id="b2b-forms" class="{% block extra_classes %}{% endblock %}">
        <div class="container">
            <div class="logo"><a href="{% url 'customer_index' %}"><img src="{% static 'img/b2b/logo-light.png' %}"></a></div>
            <div class="box">
                {% block content %}
                    <div class="row-fluid" style="padding-bottom: 50px">
                        <div class="span12">
                            <div class="form-title padding-block">
                                <h1>You’re finished!</h1>
                                <p>Seriously, that’s all you need to do.</p>
                            </div>
                            <hr/>
                            <div class="form-message padding-block">
                                <p>There are no special numbers to dial, or apps to download. Continue calling
                                customer service as usual, and we’ll take care of the rest.</p>
                            </div>
                            <div class="btn-row padding-block">
                                <a href="{% url 'profile' %}" class="styled-dark-btn">View my profile</a>
                            </div>
                        </div>
                    </div>
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% compressed_js 'lib' %}
    {% compressed_js 'b2b-forms' %}
{% endblock %}
